In [4]:
class Cliente:
    # Mi primer clase
    pass

In [2]:
cliente_1 = Cliente()

In [3]:
type(cliente_1)

__main__.Cliente

In [6]:
import pandas as pd
df = pd.DataFrame({"A": [1,2], "B":[3,4]})

In [7]:
type(df)

pandas.core.frame.DataFrame

**Un metodo** es una funci贸n con la excepci贸n de que vive dentro de una clase y ademas dentro de su funci贸n forzosamente se pone la palabra **"self"**.

In [10]:
class Cliente:
    
    def nombre_cliente(self, nombre):
        #Self le indica que se refiere al futuro yo que usaremos. 
        #Es decir, para saber que esa funci贸n le pertenece a una clase, se debe referir a quien le pertenece en un futuro.
        # por ejemplo clase_2.nombre_cliente pero en vez de decir un objeto especifico, self es un generico.
        print("Mi nombre es:" + nombre)

In [14]:
def nombre_cliente(nombre):
        print("Mi nombre es:" + nombre)

In [11]:
cliente_2 = Cliente()

In [13]:
cliente_2.nombre_cliente("Mariana")

Mi nombre es:Mariana

In [16]:
class Cliente:
    
    def nombre_cliente(self, nombre):
        self.nombre = nombre
        print("El nombre del cliente es:" + nombre)

In [17]:
cliente_3 = Cliente()

In [18]:
cliente_3.nombre_cliente("Laura")

El nombre del cliente es:Laura

In [19]:
cliente_3.nombre

'Laura'

### Mezcla de objetos

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame({"A": [1,2], "B":[3,4]})

In [22]:
df.head()

   A  B
0  1  3
1  2  4

In [23]:
pd.random.standard_normal(10)

AttributeError: module 'pandas' has no attribute 'random'

In [30]:
np.random.standard_normal(10).sum()

-1.7136151455948574

In [25]:
type(df.head())

pandas.core.frame.DataFrame

In [32]:
df.values.sum()

10

In [34]:
print(df.to_dict(), type(df.to_dict()))

{'A': {0: 1, 1: 2}, 'B': {0: 3, 1: 4}} <class 'dict'>